In [1]:
#importing needed libraries
import pandas as pd
import numpy as np
import scipy as sc

In [2]:
#reading in xlsx file
df = pd.read_excel("data/clean1.xlsx")
df.head()

   Unnamed: 0  age  sex  cp  trestbps  chol  fbs  thalrest  exang  num
0           0   63    1   1       145   233    1        60      0    0
1           1   67    1   4       160   286    0        64      1    2
2           2   67    1   4       120   229    0        78      1    1
3           3   37    1   3       130   250    0        84      0    0
4           4   41    0   2       130   204    0        71      0    0

In [3]:
df.loc[df['trestbps'] == -9, 'trestbps'] = None

In [4]:
df.loc[df['chol'] == -9, 'chol'] = None

In [5]:
df.loc[df['thalrest'] == -9, 'thalrest'] = None

In [6]:
df.iloc[295]

Unnamed: 0    295.0
age            63.0
sex             1.0
cp              3.0
trestbps        NaN
chol            0.0
fbs             0.0
thalrest        NaN
exang           1.0
num             1.0
Name: 295, dtype: float64

In [7]:
df.groupby(['num'])['trestbps'].mean()

num
0    129.945170
1    130.117978
2    134.040984
3    137.264957
4    140.564103
Name: trestbps, dtype: float64

In [8]:
df['trestbps'].fillna(df.groupby(['num'])['trestbps'].transform('mean'), inplace=True)

In [9]:
df.iloc[295]

Unnamed: 0    295.000000
age            63.000000
sex             1.000000
cp              3.000000
trestbps      130.117978
chol            0.000000
fbs             0.000000
thalrest             NaN
exang           1.000000
num             1.000000
Name: 295, dtype: float64

In [10]:
df.groupby(['num'])['chol'].mean()

num
0    228.031169
1    164.629630
2    167.064000
3    182.511628
4    228.975610
Name: chol, dtype: float64

In [11]:
df['chol'].fillna(df.groupby(['num'])['chol'].transform('mean'), inplace=True)

In [12]:
df.groupby(['num'])['thalrest'].mean()

num
0    78.932115
1    72.882022
2    72.390244
3    70.974790
4    76.564103
Name: thalrest, dtype: float64

In [13]:
df['thalrest'].fillna(df.groupby(['num'])['thalrest'].transform('mean'), inplace=True)

In [14]:
df.iloc[295]

Unnamed: 0    295.000000
age            63.000000
sex             1.000000
cp              3.000000
trestbps      130.117978
chol            0.000000
fbs             0.000000
thalrest       72.882022
exang           1.000000
num             1.000000
Name: 295, dtype: float64

In [18]:
df2 = df.round(0).astype(int)

In [16]:
df.iloc[295]

Unnamed: 0    295.000000
age            63.000000
sex             1.000000
cp              3.000000
trestbps      130.117978
chol            0.000000
fbs             0.000000
thalrest       72.882022
exang           1.000000
num             1.000000
Name: 295, dtype: float64

In [20]:
writer = pd.ExcelWriter('clean2.xlsx', engine='xlsxwriter')
df2.to_excel(writer, sheet_name='clean2data')
writer.save()