In [1]:
import pandas as pd
import numpy as np

In [3]:
filename = 'final_assembled.xlsx'
df = pd.read_excel(filename)
df.head()

    SEQN  Age  Sex   cp  trestbps   chol    fbs  thalrest  CDQ002  Num  LBXGLU
0  73557   69    1  2.0     114.0  167.0  193.0      86.0     NaN  2.0     NaN
1  73558   54    1  1.0     160.0  170.0  107.0      74.0     1.0  2.0     NaN
2  73559   72    1  2.0     140.0  126.0  110.0      68.0     NaN  2.0   193.0
3  73560    9    1  NaN     102.0  168.0   89.0      64.0     NaN  NaN     NaN
4  73561   73    2  2.0     134.0  201.0   84.0      92.0     NaN  2.0   107.0

In [5]:
# drop Num NaN values
dfnum = df['Num'].dropna()

In [6]:
dfnum.head()

0    2.0
1    2.0
2    2.0
4    2.0
5    1.0
Name: Num, dtype: float64

In [8]:
dfnum = df.dropna(subset=['Num'])

In [9]:
# test to see if Num empty values were dropped
dfnum.head()

    SEQN  Age  Sex   cp  trestbps   chol    fbs  thalrest  CDQ002  Num  LBXGLU
0  73557   69    1  2.0     114.0  167.0  193.0      86.0     NaN  2.0     NaN
1  73558   54    1  1.0     160.0  170.0  107.0      74.0     1.0  2.0     NaN
2  73559   72    1  2.0     140.0  126.0  110.0      68.0     NaN  2.0   193.0
4  73561   73    2  2.0     134.0  201.0   84.0      92.0     NaN  2.0   107.0
5  73562   56    1  1.0     158.0  226.0   89.0      60.0     1.0  1.0     NaN

In [10]:
# test to see if Num empty values were dropped
dfnum.tail()

,SEQN,Age,Sex,cp,trestbps,chol,fbs,thalrest,CDQ002,Num,LBXGLU
10166,83723,61,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,159.0
10167,83724,80,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10169,83726,40,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10170,83727,26,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,108.0
10172,83729,42,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN

In [11]:
dfnum

,SEQN,Age,Sex,cp,trestbps,chol,fbs,thalrest,CDQ002,Num,LBXGLU
0,73557,69,1,2.0,114.0,167.0,193.0,86.0,NaN,2.0,NaN
1,73558,54,1,1.0,160.0,170.0,107.0,74.0,1.0,2.0,NaN
2,73559,72,1,2.0,140.0,126.0,110.0,68.0,NaN,2.0,193.0
4,73561,73,2,2.0,134.0,201.0,84.0,92.0,NaN,2.0,107.0
5,73562,56,1,1.0,158.0,226.0,89.0,60.0,1.0,1.0,NaN
7,73564,61,2,2.0,124.0,168.0,NaN,82.0,NaN,2.0,110.0
8,73565,42,1,2.0,124.0,278.0,103.0,86.0,NaN,2.0,NaN
9,73566,56,2,2.0,142.0,173.0,110.0,70.0,NaN,2.0,NaN
10,73567,65,1,1.0,100.0,168.0,94.0,70.0,2.0,2.0,NaN
11,73568,26,2,NaN,104.0,NaN,107.0,78.0,NaN,2.0,89.0
14,73571,76,1,1.0,94.0,NaN,127.0,74.0,2.0,2.0,NaN
17,73574,33,2,NaN,110.0,154.0,98.0,62.0,NaN,2.0,84.0
20,73577,32,1,NaN,116.0,135.0,NaN,96.0,NaN,2.0,104.0
23,73580,38,2,NaN,96.0,NaN,133.0,88.0,NaN,2.0,103.0
24,73581,50,1,2.0,NaN,NaN,114.0,NaN,NaN,2.0,110.0
25,73582,23,2,NaN,110.0,196.0,NaN,94.0,NaN,2.0,NaN
28,73585,28,1,NaN,110.0,159.0,NaN,74.0,NaN,2.0,NaN
32,73589,35,1,NaN,NaN,185.0,139.0,NaN,NaN,2.0,NaN
35,73592,29,1,NaN,124.0,189.0,99.0,78.0,NaN,2.0,NaN
37,73594,23,1,NaN,130.0,151.0,102.0,84.0,NaN,2.0,NaN
38,73595,58,1,2.0,NaN,NaN,89.0,60.0,NaN,2.0,NaN
39,73596,57,2,2.0,112.0,177.0,105.0,76.0,NaN,2.0,107.0
40,73597,50,2,2.0,118.0,150.0,86.0,72.0,NaN,2.0,NaN
41,73598,20,1,NaN,150.0,189.0,96.0,80.0,NaN,2.0,110.0
43,73600,37,1,NaN,NaN,NaN,90.0,NaN,NaN,2.0,127.0
46,73603,35,1,NaN,94.0,165.0,88.0,72.0,NaN,2.0,NaN
47,73604,69,2,1.0,116.0,NaN,81.0,68.0,1.0,2.0,NaN
50,73607,75,1,2.0,92.0,133.0,92.0,86.0,NaN,2.0,89.0
53,73610,43,1,2.0,NaN,141.0,89.0,NaN,NaN,2.0,90.0
56,73613,60,2,2.0,146.0,166.0,96.0,78.0,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10121,83678,42,2,1.0,NaN,NaN,NaN,NaN,2.0,2.0,97.0
10126,83683,33,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,101.0
10127,83684,80,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10130,83687,70,2,1.0,NaN,NaN,NaN,NaN,2.0,1.0,NaN
10131,83688,29,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10132,83689,30,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10133,83690,49,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10135,83692,68,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,89.0
10137,83694,36,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,99.0
10142,83699,37,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,83.0
10143,83700,29,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10144,83701,45,2,1.0,NaN,NaN,NaN,NaN,2.0,2.0,NaN
10145,83702,80,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0,111.0
10146,83703,22,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10148,83705,35,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10151,83708,64,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,144.0
10152,83709,24,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10154,83711,38,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,100.0
10155,83712,61,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,93.0
10156,83713,34,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,103.0
10158,83715,58,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10160,83717,80,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10161,83718,60,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0,90.0
10163,83720,36,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10164,83721,52,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10166,83723,61,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,159.0
10167,83724,80,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10169,83726,40,1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
10170,83727,26,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,108.0
10172,83729,42,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN

In [12]:
# drop trestbps (systolic blood pressure) with missing values
dfnum2 = dfnum.dropna(subset=['trestbps'])
dfnum2

,SEQN,Age,Sex,cp,trestbps,chol,fbs,thalrest,CDQ002,Num,LBXGLU
0,73557,69,1,2.0,114.0,167.0,193.0,86.0,NaN,2.0,NaN
1,73558,54,1,1.0,160.0,170.0,107.0,74.0,1.0,2.0,NaN
2,73559,72,1,2.0,140.0,126.0,110.0,68.0,NaN,2.0,193.0
4,73561,73,2,2.0,134.0,201.0,84.0,92.0,NaN,2.0,107.0
5,73562,56,1,1.0,158.0,226.0,89.0,60.0,1.0,1.0,NaN
7,73564,61,2,2.0,124.0,168.0,NaN,82.0,NaN,2.0,110.0
8,73565,42,1,2.0,124.0,278.0,103.0,86.0,NaN,2.0,NaN
9,73566,56,2,2.0,142.0,173.0,110.0,70.0,NaN,2.0,NaN
10,73567,65,1,1.0,100.0,168.0,94.0,70.0,2.0,2.0,NaN
11,73568,26,2,NaN,104.0,NaN,107.0,78.0,NaN,2.0,89.0
14,73571,76,1,1.0,94.0,NaN,127.0,74.0,2.0,2.0,NaN
17,73574,33,2,NaN,110.0,154.0,98.0,62.0,NaN,2.0,84.0
20,73577,32,1,NaN,116.0,135.0,NaN,96.0,NaN,2.0,104.0
23,73580,38,2,NaN,96.0,NaN,133.0,88.0,NaN,2.0,103.0
25,73582,23,2,NaN,110.0,196.0,NaN,94.0,NaN,2.0,NaN
28,73585,28,1,NaN,110.0,159.0,NaN,74.0,NaN,2.0,NaN
35,73592,29,1,NaN,124.0,189.0,99.0,78.0,NaN,2.0,NaN
37,73594,23,1,NaN,130.0,151.0,102.0,84.0,NaN,2.0,NaN
39,73596,57,2,2.0,112.0,177.0,105.0,76.0,NaN,2.0,107.0
40,73597,50,2,2.0,118.0,150.0,86.0,72.0,NaN,2.0,NaN
41,73598,20,1,NaN,150.0,189.0,96.0,80.0,NaN,2.0,110.0
46,73603,35,1,NaN,94.0,165.0,88.0,72.0,NaN,2.0,NaN
47,73604,69,2,1.0,116.0,NaN,81.0,68.0,1.0,2.0,NaN
50,73607,75,1,2.0,92.0,133.0,92.0,86.0,NaN,2.0,89.0
56,73613,60,2,2.0,146.0,166.0,96.0,78.0,NaN,2.0,NaN
57,73614,55,2,2.0,122.0,171.0,102.0,64.0,NaN,2.0,NaN
59,73616,62,2,2.0,100.0,238.0,204.0,72.0,NaN,2.0,NaN
62,73619,36,2,NaN,136.0,161.0,88.0,64.0,NaN,2.0,85.0
64,73621,80,1,1.0,124.0,172.0,96.0,88.0,2.0,2.0,100.0
65,73622,72,1,2.0,102.0,274.0,111.0,96.0,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9739,83296,25,2,NaN,128.0,271.0,NaN,92.0,NaN,2.0,85.0
9740,83297,75,2,2.0,102.0,136.0,NaN,70.0,NaN,2.0,96.0
9743,83300,80,2,2.0,196.0,286.0,NaN,76.0,NaN,2.0,129.0
9744,83301,30,2,NaN,120.0,215.0,NaN,94.0,NaN,2.0,NaN
9748,83305,53,2,2.0,104.0,203.0,NaN,72.0,NaN,2.0,NaN
9752,83309,42,2,2.0,118.0,302.0,NaN,78.0,NaN,2.0,99.0
9754,83311,63,1,1.0,106.0,179.0,NaN,80.0,2.0,2.0,NaN
9756,83313,24,2,NaN,90.0,209.0,NaN,106.0,NaN,2.0,NaN
9757,83314,54,1,2.0,120.0,214.0,NaN,74.0,NaN,2.0,NaN
9759,83316,31,2,NaN,122.0,256.0,NaN,68.0,NaN,2.0,100.0
9763,83320,63,1,2.0,104.0,165.0,NaN,70.0,NaN,2.0,NaN
9764,83321,80,2,1.0,104.0,160.0,NaN,74.0,2.0,2.0,67.0
9769,83326,65,2,2.0,112.0,103.0,NaN,78.0,NaN,2.0,89.0
9771,83328,48,2,2.0,88.0,195.0,NaN,58.0,NaN,2.0,NaN
9772,83329,21,2,NaN,104.0,147.0,NaN,72.0,NaN,2.0,NaN
9777,83334,27,1,NaN,134.0,120.0,NaN,52.0,NaN,2.0,84.0
9784,83341,68,2,2.0,128.0,126.0,NaN,88.0,NaN,2.0,109.0
9788,83345,54,1,1.0,108.0,121.0,NaN,72.0,2.0,2.0,NaN
9790,83347,80,2,1.0,122.0,206.0,NaN,70.0,2.0,2.0,NaN
9794,83351,63,1,2.0,110.0,180.0,NaN,78.0,NaN,2.0,NaN
9795,83352,20,1,NaN,116.0,187.0,NaN,76.0,NaN,2.0,NaN
9797,83354,48,2,2.0,98.0,143.0,NaN,58.0,NaN,2.0,NaN
9799,83356,21,2,NaN,118.0,221.0,NaN,68.0,NaN,2.0,NaN
9801,83358,37,1,NaN,132.0,202.0,NaN,82.0,NaN,2.0,113.0
9802,83359,60,2,2.0,112.0,138.0,NaN,64.0,NaN,2.0,NaN
9804,83361,31,1,NaN,138.0,186.0,NaN,74.0,NaN,2.0,NaN
9805,83362,31,2,NaN,168.0,157.0,NaN,54.0,NaN,2.0,97.0
9808,83365,48,2,2.0,116.0,190.0,NaN,60.0,NaN,2.0,NaN
9810,83367,31,1,NaN,130.0,152.0,NaN,80.0,NaN,2.0,NaN
9812,83369,63,2,2.0,94.0,NaN,NaN,90.0,NaN,2.0,NaN

In [13]:
# check to see which columns have missing values
dfnum2.isnull().sum()

SEQN           0
Age            0
Sex            0
cp          1397
trestbps       0
chol         262
fbs         2894
thalrest       1
CDQ002      3528
Num            0
LBXGLU      2297
dtype: int64

In [17]:
df3 = dfnum2.drop('fbs', axis=1)

In [18]:
# check to see which columns have missing values
df3.isnull().sum()

SEQN           0
Age            0
Sex            0
cp          1397
trestbps       0
chol         262
thalrest       1
CDQ002      3528
Num            0
LBXGLU      2297
dtype: int64

In [19]:
# drop CDQ002 (chest pain when walking uphill and walking fast) with missing values
dfnum4 = df3.dropna(subset=['CDQ002'])
dfnum4

       SEQN  Age  Sex   cp  trestbps   chol  thalrest  CDQ002  Num  LBXGLU
1     73558   54    1  1.0     160.0  170.0      74.0     1.0  2.0     NaN
5     73562   56    1  1.0     158.0  226.0      60.0     1.0  1.0     NaN
10    73567   65    1  1.0     100.0  168.0      70.0     2.0  2.0     NaN
14    73571   76    1  1.0      94.0    NaN      74.0     2.0  2.0     NaN
47    73604   69    2  1.0     116.0    NaN      68.0     1.0  2.0     NaN
64    73621   80    1  1.0     124.0  172.0      88.0     2.0  2.0   100.0
71    73628   80    1  1.0     160.0  173.0      84.0     2.0  1.0     NaN
81    73638   63    2  1.0     126.0  271.0      72.0     1.0  1.0   114.0
83    73640   67    2  1.0      90.0    NaN      84.0     2.0  2.0   114.0
103   73660   59    1  1.0     136.0  188.0      88.0     2.0  2.0     NaN
138   73695   79    2  1.0     158.0  179.0      94.0     2.0  1.0     NaN
145   73702   48    2  1.0     156.0  132.0      72.0     3.0  2.0   102.0
150   73707   45    1  1.0      98.0  213.0      72.0     2.0  2.0     NaN
160   73717   78    1  1.0     154.0  199.0      68.0     2.0  2.0     NaN
172   73729   46    1  1.0     126.0   98.0      74.0     2.0  2.0    96.0
173   73730   48    1  1.0     112.0  172.0      74.0     2.0  2.0   105.0
182   73739   46    2  1.0     110.0  149.0      68.0     2.0  2.0    90.0
184   73741   47    2  1.0     116.0  185.0      64.0     1.0  2.0     NaN
209   73766   75    2  1.0     108.0  148.0      86.0     2.0  9.0     NaN
212   73769   42    1  1.0     146.0  164.0      90.0     2.0  2.0     NaN
221   73778   62    1  1.0     140.0  261.0     104.0     3.0  2.0     NaN
235   73792   68    2  1.0     122.0  190.0      58.0     2.0  2.0     NaN
238   73795   59    1  1.0     144.0  179.0      58.0     2.0  2.0     NaN
240   73797   57    2  1.0     114.0  214.0      80.0     3.0  1.0     NaN
243   73800   54    2  1.0     104.0  203.0      92.0     1.0  1.0     NaN
251   73808   53    2  1.0      76.0    NaN      44.0     1.0  2.0     NaN
254   73811   64    1  1.0     106.0  151.0      74.0     2.0  2.0     NaN
274   73831   48    2  1.0     110.0  122.0      66.0     2.0  2.0     NaN
303   73860   53    1  1.0     130.0  237.0      70.0     2.0  2.0   103.0
322   73879   58    2  1.0      94.0  150.0      90.0     2.0  2.0     NaN
...     ...  ...  ...  ...       ...    ...       ...     ...  ...     ...
9342  82899   66    1  1.0     118.0  138.0      74.0     2.0  2.0     NaN
9349  82906   72    1  1.0      84.0  172.0      94.0     2.0  1.0    83.0
9359  82916   53    2  1.0     124.0  155.0      52.0     2.0  2.0   103.0
9374  82931   70    1  1.0     132.0    NaN      58.0     2.0  2.0     NaN
9388  82945   80    2  1.0      94.0  136.0      96.0     3.0  2.0   105.0
9396  82953   68    1  1.0     118.0  185.0      78.0     2.0  2.0    89.0
9402  82959   55    1  1.0     116.0  181.0      74.0     1.0  2.0    89.0
9445  83002   50    1  1.0     128.0  142.0      70.0     2.0  1.0     NaN
9453  83010   80    2  1.0     132.0  157.0      64.0     2.0  1.0   119.0
9456  83013   63    1  1.0     104.0  214.0      72.0     1.0  1.0     NaN
9476  83033   60    2  1.0     104.0  154.0      82.0     2.0  1.0    91.0
9480  83037   66    2  1.0     132.0  212.0      68.0     2.0  2.0   107.0
9493  83050   46    2  1.0     138.0  240.0      66.0     2.0  2.0     NaN
9507  83064   41    1  1.0     102.0  163.0      84.0     2.0  2.0     NaN
9516  83073   53    2  1.0      96.0  153.0      74.0     2.0  2.0    86.0
9524  83081   41    1  1.0     106.0  220.0      94.0     2.0  2.0   122.0
9535  83092   57    1  1.0     146.0  177.0      68.0     2.0  2.0     NaN
9552  83109   80    1  1.0     106.0  145.0      82.0     2.0  2.0     NaN
9622  83179   64    1  1.0     146.0  196.0      56.0     1.0  2.0   235.0
9629  83186   64    2  1.0     140.0  168.0      76.0     1.0  2.0    91.0
9636  83193   80    2  1.0     112.0  198.0      76.0     1.0  1.0     NaN
9639  83196   61    2  1.0     102.0  142.0      66.0     1.0  2.0     NaN
9644  83201   53    2  1.0     116.0    NaN      66.0     1.0  2.0    95.0
9646  83203   61    2  1.0     108.0  138.0      84.0     1.0  1.0   204.0
9653  83210   63    2  1.0     114.0  170.0      70.0     2.0  2.0     NaN
9696  83253   55    2  1.0     126.0  119.0      62.0     2.0  2.0   100.0
9754  83311   63    1  1.0     106.0  179.0      80.0     2.0  2.0     NaN
9764  83321   80    2  1.0     104.0  160.0      74.0     2.0  2.0    67.0
9788  83345   54    1  1.0     108.0  121.0      72.0     2.0  2.0     NaN
9790  83347   80    2  1.0     122.0  206.0      70.0     2.0  2.0     NaN

[646 rows x 10 columns]

In [27]:
dfnum4.isnull().sum()

SEQN          0
Age           0
Sex           0
cp            0
trestbps      0
chol         41
thalrest      0
CDQ002        0
Num           0
LBXGLU      339
dtype: int64

In [24]:
# find the mean of chol (cholesterol) by age and use mean to fill in empty values
dfnum4.groupby(['Age'])['chol'].mean()

Age
40    183.583333
41    181.466667
42    176.000000
43    199.533333
44    172.625000
45    188.250000
46    180.312500
47    178.333333
48    176.818182
49    185.666667
50    157.833333
51    173.263158
52    176.307692
53    184.300000
54    178.526316
55    192.214286
56    179.500000
57    189.250000
58    164.444444
59    185.250000
60    201.894737
61    185.473684
62    178.650000
63    180.695652
64    177.352941
65    172.083333
66    176.100000
67    167.588235
68    178.090909
69    191.750000
70    166.666667
71    176.230769
72    192.545455
73    181.583333
74    165.000000
75    195.000000
76    189.285714
77    150.500000
78    189.111111
79    186.142857
80    180.851852
Name: chol, dtype: float64

In [25]:
# find the mean of thalrest (resting heart rate) by age and use mean to fill in empty values
dfnum4.groupby(['Age'])['thalrest'].mean()

Age
40    77.692308
41    71.200000
42    72.000000
43    73.250000
44    71.368421
45    73.000000
46    73.294118
47    75.545455
48    77.727273
49    76.000000
50    73.692308
51    76.736842
52    76.461538
53    77.333333
54    78.700000
55    72.875000
56    69.523810
57    82.947368
58    78.200000
59    74.125000
60    78.000000
61    69.904762
62    79.523810
63    76.260870
64    79.222222
65    78.307692
66    72.190476
67    74.666667
68    72.666667
69    76.545455
70    69.384615
71    68.461538
72    73.272727
73    75.538462
74    77.333333
75    74.666667
76    76.000000
77    68.000000
78    69.555556
79    66.857143
80    74.827586
Name: thalrest, dtype: float64

In [26]:
dfnum4['thalrest'].fillna(dfnum4.groupby(['Age'])['thalrest'].transform('mean'), inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)