In [17]:
import pandas as pd
import numpy as np
from scipy import stats

df= pd.read_excel("rawdata_trimmed.xlsx")

In [18]:
df

     age  sex  cp  trestbps  chol  fbs  thalrest  exang  num
0     63    1   1       145   233    1        60      0    0
1     67    1   4       160   286    0        64      1    2
2     67    1   4       120   229    0        78      1    1
3     37    1   3       130   250    0        84      0    0
4     41    0   2       130   204    0        71      0    0
5     56    1   2       120   236    0        73      0    0
6     62    0   4       140   268    0        83      0    3
7     57    0   4       120   354    0        84      1    0
8     63    1   4       130   254    0        75      0    2
9     53    1   4       140   203    1        86      1    1
10    57    1   4       140   192    0        86      0    0
11    56    0   2       140   294    0        85      0    0
12    56    1   3       130   256    1        74      1    2
13    44    1   2       120   263    0        70      0    0
14    52    1   3       172   199    1        91      0    0
15    57    1   3       150   168    0        60      0    0
16    48    1   2       110   229    0        75      0    1
17    54    1   4       140   239    0        86      0    0
18    48    0   3       130   275    0        62      0    0
19    49    1   2       130   266    0        82      0    0
20    64    1   1       110   211    0        58      1    0
21    58    0   1       150   283    1        75      0    0
22    58    1   2       120   284    0        69      0    1
23    58    1   3       132   224    0        98      0    3
24    60    1   4       130   206    0        83      1    4
25    50    0   3       120   219    0        71      0    0
26    58    0   3       120   340    0        95      0    0
27    66    0   1       150   226    0        49      0    0
28    43    1   4       150   247    0        67      0    0
29    40    1   4       110   167    0        64      1    3
..   ...  ...  ..       ...   ...  ...       ...    ...  ...
868   42    1   4       145     0    0        68      1    2
869   53    1   4       130     0    0        71      1    2
870   55    1   4       140     0    0        53      0    2
871   61    1   4       160     0    1        73      0    2
872   51    1   4       140     0    0        63      0    2
873   70    1   4       115     0    0        65      1    1
874   61    1   4       130     0    0        90      0    3
875   38    1   4       150     0   -9        56      1    1
876   57    1   4       160     0   -9        57      1    2
877   38    1   4       135     0   -9        69      0    2
878   62    0   1       140     0   -9        98      0    2
879   58    1   4       170     0   -9        66      1    1
880   52    1   4       165     0   -9        59      1    2
881   61    1   3       200     0   -9        52      0    3
882   50    0   4       160     0   -9        74      0    1
883   51    1   4       130     0   -9       110      0    1
884   65    1   4       145     0   -9        39      0    3
885   52    1   4       135     0   -9        70      1    2
886   47    1   3       110     0   -9        68      1    1
887   35    1   4        -9     0   -9        70      1    3
888   57    1   4       140     0   -9        78      1    3
889   62    1   4       115     0   -9        44      1    1
890   59    1   4       110     0   -9        82      0    3
891   53    1   3       160     0   -9        91      1    1
892   62    1   4       150     0   -9        54      0    3
893   54    1   4       180     0   -9        58      0    1
894   56    1   4       125     0    1        55      1    3
895   56    1   3       125     0   -9        64      0    2
896   54    1   4       130     0   -9        58      1    3
897   66    0   4       155     0   -9        66      0    1

[898 rows x 9 columns]

In [19]:
df.groupby(['fbs', 'exang']).apply(pd.DataFrame.mode).reset_index(drop=True)

     age  sex   cp  trestbps  chol  fbs  thalrest  exang  num
0   38.0  1.0  4.0     115.0   0.0 -9.0      74.0    0.0  1.0
1   51.0  NaN  NaN     130.0   NaN  NaN       NaN    NaN  NaN
2   53.0  NaN  NaN       NaN   NaN  NaN       NaN    NaN  NaN
3   57.0  1.0  4.0     110.0   0.0 -9.0      70.0    1.0  1.0
4    NaN  NaN  NaN     120.0   NaN  NaN       NaN    NaN  NaN
5   54.0  1.0  3.0      -9.0   0.0  0.0      -9.0   -9.0  0.0
6   61.0  NaN  NaN       NaN   NaN  NaN       NaN    NaN  NaN
7   62.0  NaN  NaN       NaN   NaN  NaN       NaN    NaN  NaN
8   63.0  NaN  NaN       NaN   NaN  NaN       NaN    NaN  NaN
9   65.0  NaN  NaN       NaN   NaN  NaN       NaN    NaN  NaN
10  54.0  1.0  4.0     120.0   0.0  0.0      80.0    0.0  0.0
11  59.0  1.0  4.0     140.0   0.0  0.0      70.0    1.0  1.0
12  51.0  1.0  4.0      -9.0  -9.0  1.0      -9.0   -9.0  1.0
13   NaN  NaN  NaN       NaN   0.0  NaN       NaN    NaN  NaN
14  58.0  1.0  3.0     120.0   0.0  1.0      72.0    0.0  0.0
15   NaN  NaN  4.0       NaN   NaN  NaN      74.0    NaN  NaN
16  56.0  1.0  4.0     130.0   0.0  1.0      68.0    1.0  3.0

In [20]:
df.groupby(['fbs']).apply(pd.DataFrame.mode).reset_index(drop=True)

   age  sex  cp  trestbps  chol  fbs  thalrest  exang  num
0   53    1   4       110     0   -9        70      0    1
1   54    1   4       120     0    0        -9      0    0
2   56    1   4        -9     0    1        -9      0    0

In [21]:
df.head(10)

   age  sex  cp  trestbps  chol  fbs  thalrest  exang  num
0   63    1   1       145   233    1        60      0    0
1   67    1   4       160   286    0        64      1    2
2   67    1   4       120   229    0        78      1    1
3   37    1   3       130   250    0        84      0    0
4   41    0   2       130   204    0        71      0    0
5   56    1   2       120   236    0        73      0    0
6   62    0   4       140   268    0        83      0    3
7   57    0   4       120   354    0        84      1    0
8   63    1   4       130   254    0        75      0    2
9   53    1   4       140   203    1        86      1    1

In [22]:
df.tail(10)

     age  sex  cp  trestbps  chol  fbs  thalrest  exang  num
888   57    1   4       140     0   -9        78      1    3
889   62    1   4       115     0   -9        44      1    1
890   59    1   4       110     0   -9        82      0    3
891   53    1   3       160     0   -9        91      1    1
892   62    1   4       150     0   -9        54      0    3
893   54    1   4       180     0   -9        58      0    1
894   56    1   4       125     0    1        55      1    3
895   56    1   3       125     0   -9        64      0    2
896   54    1   4       130     0   -9        58      1    3
897   66    0   4       155     0   -9        66      0    1

In [23]:
df['fbs'].groupby(df['num']).agg([('mode', stats.mode)])

             mode
num
0    ([0], [345])
1    ([0], [122])
2     ([0], [84])
3     ([0], [88])
4     ([0], [34])

In [24]:
df['exang'].groupby(df['num']).agg([('mode', stats.mode)])

             mode
num
0    ([0], [328])
1     ([1], [92])
2     ([1], [74])
3     ([1], [81])
4     ([1], [28])

In [25]:
df.loc[df['fbs'] == -9,'fbs'] = 0

In [26]:
df

     age  sex  cp  trestbps  chol  fbs  thalrest  exang  num
0     63    1   1       145   233    1        60      0    0
1     67    1   4       160   286    0        64      1    2
2     67    1   4       120   229    0        78      1    1
3     37    1   3       130   250    0        84      0    0
4     41    0   2       130   204    0        71      0    0
5     56    1   2       120   236    0        73      0    0
6     62    0   4       140   268    0        83      0    3
7     57    0   4       120   354    0        84      1    0
8     63    1   4       130   254    0        75      0    2
9     53    1   4       140   203    1        86      1    1
10    57    1   4       140   192    0        86      0    0
11    56    0   2       140   294    0        85      0    0
12    56    1   3       130   256    1        74      1    2
13    44    1   2       120   263    0        70      0    0
14    52    1   3       172   199    1        91      0    0
15    57    1   3       150   168    0        60      0    0
16    48    1   2       110   229    0        75      0    1
17    54    1   4       140   239    0        86      0    0
18    48    0   3       130   275    0        62      0    0
19    49    1   2       130   266    0        82      0    0
20    64    1   1       110   211    0        58      1    0
21    58    0   1       150   283    1        75      0    0
22    58    1   2       120   284    0        69      0    1
23    58    1   3       132   224    0        98      0    3
24    60    1   4       130   206    0        83      1    4
25    50    0   3       120   219    0        71      0    0
26    58    0   3       120   340    0        95      0    0
27    66    0   1       150   226    0        49      0    0
28    43    1   4       150   247    0        67      0    0
29    40    1   4       110   167    0        64      1    3
..   ...  ...  ..       ...   ...  ...       ...    ...  ...
868   42    1   4       145     0    0        68      1    2
869   53    1   4       130     0    0        71      1    2
870   55    1   4       140     0    0        53      0    2
871   61    1   4       160     0    1        73      0    2
872   51    1   4       140     0    0        63      0    2
873   70    1   4       115     0    0        65      1    1
874   61    1   4       130     0    0        90      0    3
875   38    1   4       150     0    0        56      1    1
876   57    1   4       160     0    0        57      1    2
877   38    1   4       135     0    0        69      0    2
878   62    0   1       140     0    0        98      0    2
879   58    1   4       170     0    0        66      1    1
880   52    1   4       165     0    0        59      1    2
881   61    1   3       200     0    0        52      0    3
882   50    0   4       160     0    0        74      0    1
883   51    1   4       130     0    0       110      0    1
884   65    1   4       145     0    0        39      0    3
885   52    1   4       135     0    0        70      1    2
886   47    1   3       110     0    0        68      1    1
887   35    1   4        -9     0    0        70      1    3
888   57    1   4       140     0    0        78      1    3
889   62    1   4       115     0    0        44      1    1
890   59    1   4       110     0    0        82      0    3
891   53    1   3       160     0    0        91      1    1
892   62    1   4       150     0    0        54      0    3
893   54    1   4       180     0    0        58      0    1
894   56    1   4       125     0    1        55      1    3
895   56    1   3       125     0    0        64      0    2
896   54    1   4       130     0    0        58      1    3
897   66    0   4       155     0    0        66      0    1

[898 rows x 9 columns]

In [34]:
df.loc[(df['exang'] == -9) & (df['num'] == 0),'exang'] = 0

In [35]:
df.loc[(df['exang'] == -9) & (df['num'] == 1),'exang'] = 1

In [36]:
df.loc[(df['exang'] == -9) & (df['num'] == 2),'exang'] = 1

In [37]:
df.loc[(df['exang'] == -9) & (df['num'] == 3),'exang'] = 1

In [38]:
df.loc[(df['exang'] == -9) & (df['num'] == 4),'exang'] = 1

In [39]:
df

     age  sex  cp  trestbps  chol  fbs  thalrest  exang  num
0     63    1   1       145   233    1        60      0    0
1     67    1   4       160   286    0        64      1    2
2     67    1   4       120   229    0        78      1    1
3     37    1   3       130   250    0        84      0    0
4     41    0   2       130   204    0        71      0    0
5     56    1   2       120   236    0        73      0    0
6     62    0   4       140   268    0        83      0    3
7     57    0   4       120   354    0        84      1    0
8     63    1   4       130   254    0        75      0    2
9     53    1   4       140   203    1        86      1    1
10    57    1   4       140   192    0        86      0    0
11    56    0   2       140   294    0        85      0    0
12    56    1   3       130   256    1        74      1    2
13    44    1   2       120   263    0        70      0    0
14    52    1   3       172   199    1        91      0    0
15    57    1   3       150   168    0        60      0    0
16    48    1   2       110   229    0        75      0    1
17    54    1   4       140   239    0        86      0    0
18    48    0   3       130   275    0        62      0    0
19    49    1   2       130   266    0        82      0    0
20    64    1   1       110   211    0        58      1    0
21    58    0   1       150   283    1        75      0    0
22    58    1   2       120   284    0        69      0    1
23    58    1   3       132   224    0        98      0    3
24    60    1   4       130   206    0        83      1    4
25    50    0   3       120   219    0        71      0    0
26    58    0   3       120   340    0        95      0    0
27    66    0   1       150   226    0        49      0    0
28    43    1   4       150   247    0        67      0    0
29    40    1   4       110   167    0        64      1    3
..   ...  ...  ..       ...   ...  ...       ...    ...  ...
868   42    1   4       145     0    0        68      1    2
869   53    1   4       130     0    0        71      1    2
870   55    1   4       140     0    0        53      0    2
871   61    1   4       160     0    1        73      0    2
872   51    1   4       140     0    0        63      0    2
873   70    1   4       115     0    0        65      1    1
874   61    1   4       130     0    0        90      0    3
875   38    1   4       150     0    0        56      1    1
876   57    1   4       160     0    0        57      1    2
877   38    1   4       135     0    0        69      0    2
878   62    0   1       140     0    0        98      0    2
879   58    1   4       170     0    0        66      1    1
880   52    1   4       165     0    0        59      1    2
881   61    1   3       200     0    0        52      0    3
882   50    0   4       160     0    0        74      0    1
883   51    1   4       130     0    0       110      0    1
884   65    1   4       145     0    0        39      0    3
885   52    1   4       135     0    0        70      1    2
886   47    1   3       110     0    0        68      1    1
887   35    1   4        -9     0    0        70      1    3
888   57    1   4       140     0    0        78      1    3
889   62    1   4       115     0    0        44      1    1
890   59    1   4       110     0    0        82      0    3
891   53    1   3       160     0    0        91      1    1
892   62    1   4       150     0    0        54      0    3
893   54    1   4       180     0    0        58      0    1
894   56    1   4       125     0    1        55      1    3
895   56    1   3       125     0    0        64      0    2
896   54    1   4       130     0    0        58      1    3
897   66    0   4       155     0    0        66      0    1

[898 rows x 9 columns]

In [40]:
df.iloc[320]

age          58
sex           1
cp            4
trestbps     -9
chol        203
fbs           1
thalrest     -9
exang         1
num           1
Name: 320, dtype: int64

In [41]:
writer = pd.ExcelWriter('clean1.xlsx', engine = 'xlsxwriter')
df.to_excel(writer, sheet_name='raw')
writer.save()